/*------------
    VARIABLES
--------------*/
:root {
    --ms-bg-primary-color: #2c3e50;
    --ms-bg-secondary-color: #1abc9c;
    --bs-body-color: white;
}
.ms-body-color {
    background-color: var(--bs-body-color);
}
/*------------
    UTILITIES
--------------*/
.ms-bg-primary-color {
    background-color: var(--ms-bg-primary-color);
}
.ms-bg-secondary-color {
    background-color: var(--ms-bg-secondary-color);
}
/*------------
    HEADER
--------------*/
.ms-main-nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.ms-main-nav li {
    padding: 0 1rem;
}
.ms-main-nav li a {
    text-decoration: none;
    color: var(--bs-body-color);
}
/*----------------
    HERO SECTION
------------------*/
.container-custom-small {
    max-width: 40.625rem;
}
/*------------
    BUTTONS
--------------*/