/*------------
    TYPOGRAPHY
--------------*/
body {
    color: #fff;
}
.title-color {
    color: var(--ms-color-grey-dark);
}
.title-weight-600 {
    font-weight: 600;
}
.divider-star i {
    font-size: 2rem;
}