/*--------------------
    BACKGROUND COLORS
---------------------*/
.ms-bg-primary {
    background-color: var(--ms-primary-color);
}
.ms-bg-secondary {
    background-color: var(--ms-secondary-color);
}
.ms-bg-primary-light {
    background-color: var(--ms-primary-color-light);
}
/*--------------------
    COLORS
---------------------*/
.ms-color-primary {
    color: var(--ms-primary-color);
}
.ms-color-secondary {
    color: var(--ms-secondary-color);
}
.ms-color-secondary-light {
    color: var(--ms-primary-color-light);
}
.ms-color-grey-dark {
    color: var(--ms-color-grey-dark);
}

/*--------------------
    CONTAINERS
---------------------*/
.container-custom-small {
    max-width: 40.625rem;
}
.container-custom-medium {
    max-width: 62.5rem;
    width: 80%;
}
