/*----------------
    BUTTONS
------------------*/
.ms-btn {
    background-color: transparent;
    border: none;
}
.ms-btn-primary {
    border-radius: .3125rem;
    padding: .5rem 1rem;
}
.ms-btn-bg-transparent {
    color: #fff;
    border: 1px solid;
    border-color: currentColor;
}
.ms-btn-bg-color {
    background-color: var(--ms-secondary-color);
    color: #fff;
}